<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wid">
        The championship's inaugural edition was in 1963, held in Lebanon, which was won by Tunisia. After having been played in 1964 and 1966, the Arab Cup was halted for almost 20 years, before being contested in 1985. The tournament was played five more times until 2012, the last competition organized by the UAFA. The 2021 edition was the first organized by FIFA.

The nine Arab Cup tournaments have been won by five national teams. Iraq have won four times; the other Arab Cup winners are Saudi Arabia, with two titles; Algeria, Egypt, Morocco, and inaugural winner Tunisia, with one title each.

Seven countries have hosted the Arab Cup. Kuwait, Qatar and Saudi Arabia have each hosted twice, while Lebanon, Iraq, Jordan and Syria have each hosted once. All Arab Cups have been held in Asia.
      </div>
      
</body>
</html>