/**/
abbr{
    color: red;
    text-decoration: none;
    font-weight: bolder;
}

@media screen {
    abbr:hover{
        background-color: pink;
        color: midnightblue;
        transition-duration: 5s;
    }
    
}

@media not all{
    abbr::before{
        content: '('attr(title)')';
    }
    
}

@media (grid:0){
    .p1{
        color: aquamarine;
    }
    .p2{
        color: blueviolet;
    }
    .p3{
       color: aquamarine;
    }
}
