    
body{
    border: 5px solid gray;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    border-bottom: 5px solid grey;
    font-size: 2rem;
    text-align: center;
}
.task{
    text-justify: auto;
    line-break: auto;
    font-size: 1.5rem;
    width: 100px;

}

span:hover{
    text-decoration: none;
    color: aqua;

}
a:link , a:visited{
    color: red;
}

li{

    list-style: square;
}